# Problem Statement

<h4>
<i>    
A marketing agency has many customers that use their service to produce ads for the client/customer websites. 
<br>
    
    
They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. 
    
Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.</i></h4>

In [38]:

# for basic array operations and dataset operations(preprocessing)
import numpy as np
import pandas as pd

# for plotting 
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

import sklearn

In [2]:
# reading .csv file
dataset = pd.read_csv("customer_churn.csv")

In [3]:
dataset

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1
...,...,...,...,...,...,...,...,...,...,...
895,Paul Miller,42.0,12800.82,1,3.62,8.0,2007-12-01 13:29:34,"9316 Julian Fort Suite 328 North Leslie, ME 43961",Evans-Lucero,0
896,Natalie Hodges,52.0,9893.92,0,6.91,7.0,2008-12-28 15:23:58,"8419 William Square Apt. 695 Martinville, RI 3...",Perry and Sons,0
897,Ana Smith,45.0,12056.18,0,5.46,4.0,2014-06-20 05:10:09,Unit 8633 Box 8738 DPO AA 14126-5026,Schneider-Smith,0
898,Justin Leonard,51.0,6517.93,1,5.47,10.0,2012-05-30 00:15:43,"49800 Torres Ways Suite 886 West Bradleybury, ...",Robles-Abbott,0
899,Joseph Williams,39.0,9315.60,1,5.02,10.0,2010-09-25 12:16:08,"27252 Olivia Burgs Rivasmouth, MN 80121-6348",Davis Group,0

In [4]:
# Dropping unnecessary Columns
dataset = dataset.drop(columns=['Names','Onboard_date', 'Location', 'Company'])

In [5]:
# New dataset
dataset

      Age  Total_Purchase  Account_Manager  Years  Num_Sites  Churn
0    42.0        11066.80                0   7.22        8.0      1
1    41.0        11916.22                0   6.50       11.0      1
2    38.0        12884.75                0   6.67       12.0      1
3    42.0         8010.76                0   6.71       10.0      1
4    37.0         9191.58                0   5.56        9.0      1
..    ...             ...              ...    ...        ...    ...
895  42.0        12800.82                1   3.62        8.0      0
896  52.0         9893.92                0   6.91        7.0      0
897  45.0        12056.18                0   5.46        4.0      0
898  51.0         6517.93                1   5.47       10.0      0
899  39.0         9315.60                1   5.02       10.0      0

[900 rows x 6 columns]

In [19]:
# Indepent variable
X = dataset.iloc[:,[0,1,2,3,4]]

# Dependent variable
y = dataset.iloc[:,[5]]

In [28]:
# importing Random Forest Algorithm
from sklearn.ensemble import RandomForestClassifier

In [29]:
# max_depth - maximum depth of the tree 
# random_state - for Shuffling
classifier = RandomForestClassifier(max_depth=4, random_state=0)

In [30]:
# For Creating Train and test dataset we have to import train_test_split from sklearn
from sklearn.model_selection import train_test_split

In [31]:
# test_size - Proportion of dataset that is taken
# random state - for shufflinf dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.77, random_state=42)

In [32]:
# fitting the training data to the model
classifier.fit(X_train, y_train)

C:\Users\t-dhkumar\AppData\Local\Temp\ipykernel_6840\3959894982.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=4, random_state=0)

In [39]:
# Model doing Prediction for test data 
y_pred = classifier.predict(X_test)

In [40]:
# importing accuracy_score to check the accuracy of the model
from sklearn.metrics import accuracy_score

In [36]:
acc = accuracy_score(y_pred, y_test)

In [41]:
# Accuracy
acc

0.886002886002886

<h5> Accuracy is around 88.60% </h5>